---
import NeoButton from "./NeoButton.astro"

const props = Astro.props
const squareIconSize = 22
const closeSVG = `<svg xmlns="http://www.w3.org/2000/svg" width="${squareIconSize}" height="${squareIconSize}" viewBox="0 0 24 24" {...props}>
	<path fill="currentColor" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12z" />
</svg>`

---
<div id="json-wrapper">
  <NeoButton
    id="close-btn" class="neo-button-sm close block ml-auto"><Fragment set:html={closeSVG} /></NeoButton>
  <pre>
    <code id="json-output"></code>
  </pre>
</div>

<script>
  import Prism from "prismjs";
  import "prismjs/components/prism-json";

  const wrapper = document.querySelector("#json-wrapper") as HTMLElement;
  const target = document.querySelector("#json-output") as HTMLElement;
  const closeBtn = document.querySelector('#close-btn') as HTMLElement;

  window.addEventListener('jsoon:show-events', (e: any) => {
    const data = JSON.stringify(e.detail, null,2) as string;
    const dataFormatted = Prism.highlight(data, Prism.languages.json, "json") as string;
    wrapper.classList.remove("active");
    target.innerHTML = dataFormatted;
    wrapper.classList.add("active");
    let submitBtn = document.querySelector('button[type="submit"]');
    const rect = submitBtn?.getBoundingClientRect();
    console.log(submitBtn);
    const targetY = rect.bottom - 200;
    console.log(`scrolling to: ${targetY}`)
    window.scrollTo({
      top: targetY,
      behavior: 'smooth'
    })
  })

  closeBtn?.addEventListener('click', () => {
   wrapper.classList.remove("active") 
   window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
</script>

