---
import Layout from '../layouts/Layout.astro';
import TextInputForm from '../components/TextInputForm.astro';
import ConfigInputs from '../components/ConfigInputs.astro';
---

<Layout title="Paste Text // jfi">
  <div class="py-6">
    <ConfigInputs />
    <TextInputForm />
  </div>
</Layout>
