---
import Layout from '../layouts/Layout.astro';
import UrlInputForm from '../components/UrlInputForm.astro';
import ConfigInputs from '../components/ConfigInputs.astro';
---

<Layout title="Calendar URLs // jfi">
  <div class="py-6">
    <ConfigInputs />
    <UrlInputForm />
  </div>
</Layout>
